/* .modal {
    width: 400px;
    height: 250px;
    color: #fff;
    background: #6929c4;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    z-index: 90;
    top: calc(50% - 145px);
    left: calc(50% - 220px);
    display: flex;
    flex-direction: column;
  }
  
  .modal-close-button {
    padding: 16px;
    background-color: #fff;
    color: #6929c4;
    font-size: 1em;
    border: none;
    margin-top: 16px;
    width: 90%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
  }
  
  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: #e8daff;
  } */

/* LOGIN PAGE */
  :root {
    --primary-white: #ffffff;
    --primary-blue: #001d3d;
    --primary-green: #04ed98;
    --primary-dark: #25578e;
    --accent-pink: #f500e5;
    --accent-yellow: #ffb700;
    --accent-blue: #60efff;
    --primary-gray: #d9d9d9;
    --secondary-gray: #eeeeee;
    --secondary-purple: #f7f2ff;
    --primary-black: #4e4e4e;
    --border-dark: #999999;
  }

  /* LOGIN PAGE */

.login-page,
.signup-page {
  width: 100vw ;
  background-image: url(./assets/login-background.png);
  background-size: cover;
  background-position: center;
  background-color: #001d3dc3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3rem;
}
.login-form,
.signup-form {
  background-color: #ffffff3b;
  backdrop-filter: blur(10px);
  padding: 3rem 5rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-white);
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.login-form-data,
.signup-form-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: var(--primary-white);
  label{
    color: var(--primary-white);
  }
  input {
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
  }
}
.logo-slogan {
  font-weight: 300;
  color: var(--primary-black);
}
.password-input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.password-input-wrapper input {
  width: 100%;
  padding-right: 40px;
}
.password-toggle-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.sevya-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* LOGIN PAGE */

/* dashboard */
.dashboard-page {
  background-color: var(--background-blue);
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.dashboard-header {
  width: 100%;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.dashboard-body{
  width: 100%;

}

.dashboard-cards {
  height: 380px;
  position: relative;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
  padding: 2rem;
  .data-length{
    position: absolute;
    left: 50%;
    top: 47%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
}

.dashbaord-header{

}
.dashboard-card-caregiver {
  background-color: var(--primary-white);
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dashboard-card-left-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
}

  ul{
    padding: 0;

  }

.list-content{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.dashboard-footer{
  width: 100%;

  display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}
.dashboard-first-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
}
.dashboard-emergency-container{
  box-sizing: border-box;
  background-color: var(--primary-medium-blue);
  padding: 2rem 4rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;

  .dashboard-emergency-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--primary-white) !important;
  }
  .dashboard-emergency-left-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  

  }

}
.data-chart{
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.css-nsbw82-MuiChartsLegend-root {

  position: relative;
  bottom: 0;
}
.emergency-list{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: var(--primary-white);
  padding: 1rem 2rem;
  border-radius: 10px;

}
.emergency-info{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
/* .dashboard-patient-card, .dashboard-caregiver-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border:1px solid black;

  } */
.caregiver-availability-chart {
  background-color: var(--primary-white);
  padding: 1rem;
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
}
.dashboard-left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.caregiver-availability-chart-heading {
  font-weight: 400;
}
/* dashboard */

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-form-body {
  height: 350px;
  overflow-y: auto;
}
.modal-form-footer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.patient-card {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
.caregiver-card-list{
  width: 100%;
}
.caregiver-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  

  box-sizing: border-box;
  border: 1px solid var(--primary-gray);
  background-color: white;

  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  cursor: move;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    box-sizing: border-box;
    border: 1px solid var(--primary-gray);
    background-color: white;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;

.caregiver-info{
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  

  
  width: 100%;
 
  
  cursor: move;
 
  }
  i {
    display: none;
  }
}
.shift-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
.shift-scheduler{
height: auto;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 20rem;
  padding: 2rem 1rem;
background-color: var(--primary-white);
}
.shift-scheduler-right-content{
  width: 25%;
}
.patient-careigver-table {
  background-color: var(--primary-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.patient-careigver-table-header {
  text-align: center;
}

.patient-careigver-table-body {
  display: flex;
  justify-content: space-between;
}
.patient-custom-table{
  width: 100%;
  max-width: 1000px;
    overflow: scroll;
  padding: 1rem 0rem;
  input{
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid var(--primary-gray);
    color: var(--primary-black);

  }
}
.caregiver-drag-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary-gray);

  border-radius: 10px;
  width: 100%;
  height: 100vh;
  background-color: var(--background-blue);
}
.caregiver-list-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-sizing: border-box;
  input{
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--primary-gray);
    color: var(--primary-black);
padding: 10px;
  }
}
.patient-caregiver-drag-drop-table{
  padding: 1rem;
}

.table-selectors {
  background-color: var(--primary-white);
  border-radius: 8px;
gap: 2rem;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;
  padding:0rem  0rem;

  
}
.table-selector-fields{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;

  input {
    width: 150px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--primary-gray);
  }
  button{
    
  }
}
.patients-table {
  border-radius: 8px;
  padding: 20px ;
  border: 1px solid var(--primary-gray);
  text-align: center;
  td {
    padding: 10px;
  }

  .caregiver-card {
    
    
    display: flex;
    flex-direction: row;
    /* display: flex;
    justify-content: space-between;
    width: 200px;
    text-align: left;
    background-color: lightgray; */
    box-sizing: border-box;
    border: 1px solid var(--primary-gray);
    background-color: white;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;

.caregiver-info{
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  

  
  width: 100%;
 
  
  cursor: move;
 
  }

  i {
    display: block;
  }
}
}
.patient-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.caregiver-card-drop {
  display: flex;
    border: 1px solid var(--primary-gray);
    background-color: white;
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
    height: 35px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* caregiver page */
.caregiver-list-wrapper, .patient-list-wrapper{
  padding: 1rem 2rem;
}
.caregiver-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.caregiver-page-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 10px;
}

/* caregiver page */

/* caregiver list */

.cargiverdetails,
.patientdetails{
  border-top: solid var(--border-dark) 1.5px;
}

.caregiverslist1{
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  
}
.caregiver-list-content{
  border-radius: 8px!important;
  border-top: none !important;
}
.css-1808mag-MuiPaper-root-MuiAccordion-root::before {
display: none !important;
}
/* caregiver list */

/* patients page */
.patients-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.patients-page-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 10px;
}
/* patients page */

/* Main Header*/
.main-header-root h1{
  font-size: 20px;
  font-family: Lato;
  font-weight: bold;
}


/* Main Header*/

.sevya-file-upload{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.file-upload-form {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  height: 50px;
  fill: var(--primary-blue);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: var(--primary-white);
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed var(--primary-blue);
  /* box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719); */
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  display: none;
  background-color: var(--primary-blue);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

.availability-calendar{
  display: flex;
  gap: 20px;

  .dates-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    i{
      color: red;
    }
  }
}
.react-calendar{
  border: 1px dotted var(--primary-blue) !important;
  border-radius: 10px !important;
}
.react-calendar__tile--now {
background-color: var(--primary-green) !important;
border-radius: 50% !important;
color: var(--primary-white) !important;
}
.react-calendar__tile--hasActive {
  background-color: var(--primary-blue) !important;
  border-radius: 50% !important;
  color: var(--primary-white) !important;
}
.react-calendar__tile--active{
  background-color: var(--primary-blue) !important;
  border-radius: 50% !important;
  color: var(--primary-white) !important;
}