/* .modal {
    width: 400px;
    height: 250px;
    color: #fff;
    background: #6929c4;
    padding: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    position: absolute;
    z-index: 90;
    top: calc(50% - 145px);
    left: calc(50% - 220px);
    display: flex;
    flex-direction: column;
  }
  
  .modal-close-button {
    padding: 16px;
    background-color: #fff;
    color: #6929c4;
    font-size: 1em;
    border: none;
    margin-top: 16px;
    width: 90%;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.1s linear;
  }
  
  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: #e8daff;
  } */

/* LOGIN PAGE */

.login-page,
.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 3rem;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.login-form-data,
.signup-form-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  input {
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
  }
}
.logo-slogan {
  font-weight: 300;
  color: var(--primary-black);
}
.password-input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.password-input-wrapper input {
  width: 100%;
  padding-right: 40px;
}
.password-toggle-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.sevya-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* LOGIN PAGE */

/* dashboard */
.dashboard-page {
  background-color: var(--background-blue);
  padding: 6rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.dashboard-header {
  width: 100%;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
.dashboard-body{
  width: 100%;

}

.dashboard-cards {
  background-color: var(--primary-white);
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
  padding: 1rem;
}
.dashboard-card-caregiver {
  background-color: var(--primary-white);
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dashboard-card-left-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
}

  ul{
    padding: 0;

  }

.list-content{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.dashboard-footer{
  width: 100%;

  display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
}
.dashboard-first-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
}
.dashboard-emergency-container{
  box-sizing: border-box;
  background-color: var(--primary-medium-blue);
  padding: 2rem 4rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .dashboard-emergency-header{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    color: var(--primary-white) !important;
  }

}
.emergency-list{
  width: 100%;
  background-color: var(--primary-white);
  padding: 1rem 2rem;
  border-radius: 10px;

}
/* .dashboard-patient-card, .dashboard-caregiver-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border:1px solid black;

  } */
.caregiver-availability-chart {
  background-color: var(--primary-white);
  padding: 1rem;
  border: 1px solid var(--primary-gray);
  border-radius: 10px;
}
.dashboard-left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.caregiver-availability-chart-heading {
  font-weight: 400;
}
/* dashboard */

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-form-body {
  height: 350px;
  overflow-y: auto;
}

.patient-card {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
.caregiver-card {
  border: 1px solid black;
  background-color: white;
  width: 100px;
  margin: 10px;
  padding: 10px;
  cursor: move;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  i {
    display: none;
  }
}
.shift-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}
.patient-careigver-table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin-top: 10px;
}
.patient-careigver-table-header {
  text-align: center;
}

.patient-careigver-table-body {
  display: flex;
  justify-content: space-between;
}
.caregiver-drag-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lightgray;
}

.table-selectors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  input {
    width: 150px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
  button {
    width: 200px;
  }
}
.patients-table {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  td {
    padding: 10px;
  }

  .caregiver-card {
    display: flex;
    justify-content: space-between;
    width: 200px;
    text-align: left;
    background-color: lightgray;
  }
  i {
    display: block;
  }
}

.caregiver-card-drop {
  border: 1px solid black;
  background-color: white;
  width: 200px;
  margin: 10px;
  padding: 10px;
  height: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px inset;

  border-radius: 10px;
}

/* caregiver page */
.caregiver-list-wrapper, .patient-list-wrapper{
  padding: 1rem 2rem;
}
.caregiver-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.caregiver-page-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 10px;
}

/* caregiver page */

/* patients page */
.patients-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.patients-page-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 10px;
}
/* patients page */
