:root {
  --primary-white: #ffffff;
  --primary-blue: #001d3d;
  --primary-green: #04ed98;
  --primary-dark: #25578e;
  --accent-pink: #f500e5;
  --accent-yellow: #ffb700;
  --accent-blue: #60efff;
  --primary-gray: #d9d9d9;
  --secondary-gray: #eeeeee;
  --secondary-purple: #f7f2ff;
  --primary-black: #4e4e4e;
  --border-dark: #999999;
  --text-grey: #6a6e73;
}
@media only screen and (max-width: 700px) {
  #root {
    display: none;
  }
  #root-not-available {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 50px;
  }
}

#root-not-available {
  display: none;
}

body {
  margin: 0;
}

.font-400 {
  font-weight: 400;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  height: 100vh;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}

.sidebarlogo{
  display: flex;
  gap: 0.5rem;
  color: var(--text-grey);
}

.sidebarlogo img{
  width: 60px;
  height: 60px;
}

.sidebarlogo h3{
  font-family: Radley;
  font-size: 24px;
  margin: 0;
  padding: 5px 0 0 0;
}

.sidebarlogo p{
  font-family: Radley;
  font-size: 16px;
  margin: 0;
}

.sidebaricons{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
  align-items: center;
  justify-items: right;
}

.sidebaricons a{
  text-align: left;
}

.sidebar-inside-container .sidebarnav{
  display: grid;
  gap:1rem;
  margin: 0;
  padding: 0;
}

/* Define styles for active nav item */
.nav-item {
  color: var(--primary-blue); /* Default color */
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.nav-item.active {
  color: #fff; /* Color when active */
  background-color: var(--primary-blue); /* Background color when active */
  font-weight: bold;
}

.sidebar-inside-container {
  height: 100%;
}
.sidebar-main {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 3rem 0rem;

  height: 100%;
  justify-content: space-between;
}
.sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-content {
  padding: 5rem;
}
.main-header-root {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(32px, 4vw, 48px);
  font-family: "Meta Pro", sans-serif;
}

h2 {
  font-size: clamp(28px, 4vw, 36px);
  font-family: "Meta Pro", sans-serif;
}

h3 {
  font-family: "Meta Pro", sans-serif;

  font-size: clamp(24px, 4vw, 30px);
}

h4 {
  font-family: "Meta Pro", sans-serif;

  font-size: clamp(20px, 4vw, 24px);
}

h5 {
  font-family: "Meta Pro", sans-serif;

  font-size: clamp(16px, 4vw, 18px);
}

p {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(16px, 4vw, 18px);
  font-weight: 350;
  line-height: 25px;
}
a {
  cursor: pointer;
  font-family: "Meta Pro", sans-serif;
}
span {
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(14px, 4vw, 16px);
}

label {
  font-family: "Meta Pro", sans-serif;
  font-size: clamp(14px, 4vw, 16px);
  color: var(--primary-black);
}
.account-link:hover {
  background: #3d68ff;
  color: var(--primary-blue);
}

.sevya-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 10px 30px;
  border-radius: 40px;
  border: 1px solid black;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  width: 100%;
  text-transform: uppercase;
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 200;
  cursor: pointer;
}
.sevya-button-inverse {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  padding: 10px 30px;
  border-radius: 40px;
  border: 1px solid black;
  background-color: var(--primary-dark);
  color: var(--primary-white);
  border-color: var(--primary-blue);
  width: 100%;
  text-transform: uppercase;
  font-size: clamp(14px, 4vw, 16px);
  font-weight: 200;
  cursor: pointer;
}
.logout {
  max-width: 150px;
}
.google-login-button {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid black;
}

.modal-button {
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  padding: 5px 15px;
  border-radius: 30px;
}

.container {
  display: flex;
  width: 100vw;
}

#modal-container {
  z-index: 9999999999;
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;

  &.four {
    z-index: 9999999999999999999999;
    transform: scale(1);
    animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  &.fourClose {
    z-index: 999999999;
    /* transform: scale(0); */
    animation: blowOutModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
  }

  .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.65);

    text-align: center;
    vertical-align: middle;

    .modal-sevya {
      background: white;
      width: 90%;
      max-width: 500px;
      padding: 10px;
      display: inline-block;
      border-radius: 10px;
      position: relative;

      h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
      }

      .modal-header {
        padding: 10px;

        .modal-header-title {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

          i {
            color: rgb(150, 4, 4);
          }

          h4 {
            color: var(--primary-blue);
            text-transform: capitalize;
          }
        }

        .modal-header-description {
          text-align: left;
        }
      }

      .modal-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 70vh;
        overflow: auto;

        .modal-body-header {
          text-align: left;
        }
      }

      .modal-footer {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 1rem;

        .modal-submit-button-open {
          background-color: var(--primary-blue);
          color: var(--primary-white);
          padding: 5px 20px;
          border: none;
          border-radius: 30px;
        }

        .modal-submit-button-close,
        .modal-close-button {
          background-color: var(--primary-white);
          color: var(--primary-blue);
          border: 1px solid var(--primary-blue);
          padding: 5px 20px;
          border-radius: 30px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-fields {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;

          .form-sub-field {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
              margin-top: -10px;
            }
          }
        }

        label {
          display: flex;
          justify-content: flex-start;
          padding-bottom: 0.3rem;
          color: var(--primary-blue);
          font-weight: bold;
        }
        .form-rating {
          text-align: left;
          label {
            color: rgb(255, 179, 0) !important;
          }
        }

        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="password"],
        input[type="date"],
        input[type="time"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="week"],
        input[type="tel"],
        input[type="url"],
        input[type="search"] {
          border-radius: 30px;
          padding: 10px;
          color: black;
          height: 30px;
          border: 1px solid rgb(171, 170, 170);
          outline: var(--primary-blue);
          width: 100%;
        }

        input[type="text"]:focus {
          border: 1px solid var(--primary-blue);
        }

        input {
          color: black;
        }

        option {
          color: black;
        }

        textarea {
          padding: 10px;
          border-radius: 15px;
          width: 100%;
          border: 1px solid rgb(171, 170, 170);
        }

        input[type="date"] {
          border-radius: 30px;
          padding: 10px;
          height: 30px;
          border: 1px solid rgb(171, 170, 170);
          outline: var(--primary-blue);
          width: 100%;
        }

        input[type="date"]:focus {
          border: 1px solid var(--primary-blue);
        }

        input[type="time"] {
          border-radius: 30px;
          padding: 10px;
          height: 30px;
          border: 1px solid rgb(171, 170, 170);
          outline: var(--primary-blue);
          width: 100%;
        }

        input[type="time"]:focus {
          border: 1px solid var(--primary-blue);
        }

        select {
          border-radius: 30px;
          padding: 0px 10px;
          height: 30px;
          border: 1px solid rgb(171, 170, 170);
          outline: var(--primary-blue);
          width: 100%;
        }
      }
    }
  }
}

.modal-sevya {
  background-color: white;
}

.main-content-root {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}

.main-content {
  padding: 1rem 1rem;

  margin: auto;
}

@media only screen and (min-width: 600px) {
  .main-content {
    padding: 1rem 2rem;
    padding-top: 0rem;
    margin: auto;
  }
}

.active {
  opacity: 100;
  color: var(--primary-blue);
}

/* @keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

@keyframes blowUpModal {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowOutModal {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.button-purple-fill {
  cursor: pointer;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
}

.button-green-fill {
  cursor: pointer;

  background-color: var(--primary-green);
  color: black;
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
}

.button-purple {
  cursor: pointer;

  color: var(--primary-blue);
  padding: 5px 15px;
  border: 1px solid var(--primary-blue);
  border-radius: 30px;
}

.button-green {
  background-color: transparent;
  color: black;
  padding: 5px 15px;
  border: 1px solid var(--primary-green);
  border-radius: 30px;
}
.button-white-fill {
  color: var(--primary-white);
}

.container {
  max-width: 100%;
  padding: 0;
}

/* Modal box */
